<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--<script src="./js/script.js" defer></script>-->
    <title>Home</title>
</head>
<body bgcolor="#C4DDFF">
<script>
    function assinar(){
    var parametro = document.getElementById('mudarParametro').value;
    window.location = "/imposto/"+parametro;
}
</script>
<H1>Menu UNIMED</H1>
    <form>
        <div>
            <H4 align="left">CPF ou Cartão:</H4>
            <input type="search" id="mudarParametro">
            <input type="button" class="btn btn-terciary"  name="envia" id="envia" value="Pesquisar" onclick="assinar()"></form>
</div>
        <br/>
        <!--<div>
            <label for="diaa">Informe a data de pesquisa:</label>
            <input type="date" id="diaa" name="diaa">
        </div>-->
    </form>

    <script>
            function buscarRegiao() {
                let select = document.querySelector('#regiao');
                let value = select.options[select.selectedIndex].value
                window.open('localhost:8080/imposto/' + value);
            }
        </script>
</body>
</html>