<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            width: 100%;
            position: relative;
            border-collapse: collapse;

        }
        table,
            th,
            td {
                border: 1px solid black;
                border-collapse: collapse;
                font-size: 2;
                margin-right: auto;
            }

    </style>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
    var doc = window.location.pathname;
    var doc1 = doc.slice(10)

		$(document).ready(function(){
		    $.getJSON("/getBeneficiarioSolicitacao?cod="+doc1,function(data){
		        $("#beneficiario").append(data.beneficiario);

		    });
		});

</script>
</head>

<body style="height:100%;">

<div id="beneficiario"></div>

</body>
</head>
</html>